<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prospectos</title>
    <!------------------------------------>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bienvenidos</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- or -->
    <link rel="stylesheet" href="../css/index.css">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!------------------------------->
    <link rel="stylesheet" href="../css/prospectos.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top  p-3 bg-primary text-white">
            <a class="navbar-brand" href="#">
                Colegio Agustina Charvin
                <img src="../icon/logo.jpg" alt="" class="icono-menu">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home <i class='bx bx-home'></i><span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="prospectos.html">Prospectos <i
                                class='bx bxs-dock-left'></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Contactanos <i
                                class='bx bx-mobile'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!---------------------------------->
    <!-------GRADOS------------>
    <section class="p-5">
        <div class="flex-grados">

            <!--K4-->
            <div class="card flex">
                <img src="../img/pexels-pixabay-159823.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kinder 4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Funcionando</small></p>
                    <a href="../doc/K4.pdf" download="instructivo-k4.pdf" >Descargar</a>
                </div>
            </div>

            <!---k5-->
            <div class="card flex">
                <img src="../img/pexels-pixabay-261895.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kinder 5</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="">Descargar</a>
                </div>
            </div>

            <!---K6--->
            <div class="card flex">
                <img src="../img/boys-with-glasses-write-books-and-think-in-the-classroom/24944.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Preparatoria</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content .</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="">Descargar</a>
                </div>
            </div>

            <!----G1---->
            <div class="card flex">
                <img src="../img/pexels-visionpic-net-2781814.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">1° Grado</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="">Descargar</a>
                </div>
            </div>

            <!----G2---->
        <div class="card flex">
            <img src="../img/high-angle-smiley-boy-with-glasses-studying/3127319.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">2° Grado</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="">Descargar</a>
            </div>
        </div>

        <!----G3---->
        <div class="card flex">
            <img src="../img/front-view-kids-holding-books-in-class/4390856.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">3° Grado</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="">Descargar</a>
            </div>
        </div>
        </div>

        
        </div>
        </div>
    </section>
    <!----------------------------------->



    <!------------------------------------>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!---ALTER-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>